body {
background-color: #282f44;
padding: 50px;
font-family:'Trebuchet MS', sans-serif;
}
.topnav {
  background-color: #6C91C2;
  overflow: hidden;
}
.topnav a {
 float: left;
  color: #AAABBC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
 background-color: #0e7c7b;
  color: white;
}

h1 {
  color: #aaabbc;
  font-weight: bold;
}
